design2-cuedrecall/
*.csv
design1/data_analysis/SAVED_data_initialtest.RData
.gitignore
design1/docs/.~lock.IMPORTANT RESULT-design1_results_50,50,90 - clean_thorugh.odt#
# Ignore Google Drive “.gdsheet” pointer files
*.gdsheet
design3/data/IM-visualexp-random-V1-pilotall.gdsheet
design2/data/visualexp-bakcward.gdsheet

Docs/docs to feed/
design1/modeling/plot_archive/
plot1.png
plot2.png
Rplots.pdf
~/.config/Cursor/User/settings.json
